body{
	background: #f8f8f8;
	padding-top: 60px;
}

.user_form{
	background-color: #fff;
	padding: 15px;
}

.text_h2{
	color: #f90;
	font-size: 16px;
}

.user_title{
	padding:15px 0px;
	
}

.mt20{
	margin-top: 20px;
}

.mb20{
	margin-bottom: 20px;
}

.text_h5{
	color: #f90;
	margin: 0 10px;
}

