.Playlist{
	overflow: hidden;
	min-width: 1180px;
	background-color: #181818;
	background: url(/static/BackPicture/video_page.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.aretit{
	width: 1200px;
	margin: 0 auto;
}

.PlayBox{
	width: 1200px;
	margin: 10px auto 40px auto;
}

.Playpage{
	margin-bottom: 50px;
	margin-top: 50px;
}