<!DOCTYPE html>
<html>
<head>
<title>米谷 米谷</title>
{include file="public/meta2"}
<meta http-equiv="x-pjax-version" content="v123">
<style type="text/css">
.animated {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.animated.slideDown {top: -100px;}
.animated.slideUp {top: 0;}
</style>
{include file="public/ico"}
<!-- CSS-LINK -->
{include file="public/css-link"}
<!-- CSS-LINK -->
{include file="public/js-link"}
</head>
<body> 
<!--header-->
{include file="public/header"}
<!--轮播-->
<div class="newhd">
	<section class="row1">
		<div class="lunbo_div">
			{include file="public/mobile/lunbo"}
		</div>
		<ul class="ad_menu">
	     	<li>
	     		<img  src="/static/imgs/ad/1.jpg">
	     	</li>

	     	<li>
	     		<img  src="/static/imgs/ad/2.jpg">
	     	</li>

	     	<li>
	     		<img  src="/static/imgs/ad/3.jpg">
	     	</li>

	     	<li>
	     		<img  src="/static/imgs/ad/4.jpg">
	     	</li>

	     	<li>
	     		<img  src="/static/imgs/ad/5.jpg">
	     	</li>

	     	<li>
	     		<img  src="/static/imgs/ad/6.jpg">
	     	</li>
	    </ul>
	</section>
</div>


<div class="containmain" >	
<!--content-->


	<div class="row1 mt20">
		<div class="headicon">
			<span class="glyphicon glyphicon-book" style="color: rgb(0, 223, 255); font-size: 30px;"></span>
			<b>在线漫画</b>
			<a href="/allcomic" class="more" target="_blank">更多 ></a>
		</div>
		
		<div id="cmmain" class="ulstyle">
			<ul id="ccover" class="cmcover">
			 	
			</ul>
		</div> 
	</div>

	<div class="row1">
		<div class="headicon">
			<span class="glyphicon glyphicon-play-circle" style="color: rgb(194, 33, 189); font-size: 30px;"></span>
			<b>在线影视</b>
			<a href="/allvideo" class="more" target="_blank">更多 ></a>
		</div>
		<div class="ulstyle">
			<ul class="vdcv" id="vdcv"></ul>
		</div>
	</div>
</div>	
{include file="public/footer"}
<script type="text/javascript">
$(document).ready(function(){
	load_comic();
	Load_Animations_Cover();
});
</script>
</body>
</html>