<!DOCTYPE html>
<html>
<head>
<title>米谷 米谷</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{include file="public/ico"}
<meta charset="utf-8">
<!-- CSS-LINK -->

{include file="public/css-link"}
<!-- CSS-LINK -->
{include file="public/js-link"}
</head>
<body> 
<link href="/static/css/video_directory.css" rel="stylesheet" type="text/css" media="all" />	
<!--header-->
{include file="public/header"}
<div class="video_main">
<!--content-->
	<div class="bgpt" >
		<div class="bgpt_info" style="background-image: url({$cover});"></div>
	</div>

	<div class="bgms_top">
		<div class="bgms_con">
			<div class="v_path">
				<a href="http://ci.migu666.net" title="首页">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
				<a class="current" href="{$src}" title="{$title}">{$title}</a>
			</div>
			<div class="msgmain">
				<div class="msgpt">
					<div class="v_pic">
						<img src="{$cover}">
					</div>
				</div>
				<div class="cvtxt">
					<div class="titxt">
						<h1>{$title}</h1>
						<p class="ptxt">
							更新至{$cotdir}集
						</p>
					</div>
					<ul class="in_list">
						<li class="in_into">
							<em class="em_tit">简介 :</em>
							<p class="p_into">
								<span>{$introduction}</span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="listmain">
		<div class="lslay">
			<div class="lshead">
				<div class="lsheadtab">
					<span class="lspsamal">播放地址 : </span>
				</div>
			</div>

			<div class="lsbox" id="lsbox" style="display: block;">
				<ul class="player_list" id="player_list">
					
				</ul>
			</div>
		</div>
	</div>
</div>
{include file="public/footer"}
<script type="text/javascript">
	$(document).ready(function(){
		Ld_Vdir({$associated});
});
</script>	
</body>


</html>