<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/Mobile/public.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/Mobile/comicPage.css" rel="stylesheet" type="text/css" media="all" />
<!-- JS-LINK -->
{include file="public/js-link"}
</head>

<body>
	<!--导航栏--> 
	{include file="public/mobile/header"}
	<!--漫画图片区域-->
	<section>
		<ul class="comicList">
			{$comicPgaeH5}
		</ul>
	</section>

	<!--底部-->
	{include file="public/mobile/footer"}
</body>


<script type="text/javascript">
	(function (designW) {
		var docEl = document.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
				var clientWidth = docEl.clientWidth;
				if (!clientWidth) return;
				docEl.style.fontSize = 100 * (clientWidth / designW) + 'px';
			};
		if (!document.addEventListener) return;
	        recalc();
		window.addEventListener(resizeEvt, recalc, false);
		document.addEventListener('DOMContentLoaded', recalc, false);
	})(750);

	$(document).ready(function(){
		$("img[data-original]").lazyload({threshold:200});
	});
</script>	
</html>