<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/Mobile/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/Mobile/public.css" rel="stylesheet" type="text/css" media="all" />
<!-- JS-LINK -->
{include file="public/js-link"}
</head>

<body>
	<!--导航栏--> 
	{include file="public/mobile/header"}
	<!--轮播--> 
	<section>
		<div class="lb mgt-3rem">
			{include file="public/mobile/lunbo"}
		</div>
	</section>
	<!--漫画-->
	<section class="mgt-3rem">
		<div class="mod-head clearfix">
			<div class="mod-head-title">
				<span class="mod-head-name">在线漫画</span>
			</div>
			<a href="/allmobilecomic" class="headMore">更多</a>
		</div>
		<div class="modMain clearfix">
			<div class="modRow">
				<ul class="comicList">
					{$comicH5}
				</ul>
			</div>
		</div>
	</section>
	<!--动画-->
	<section class="mgt-3rem">
		<div class="mod-head clearfix">
			<div class="mod-head-title">
				<span class="mod-head-name">在线动画</span>
			</div>
			<a href="/mobile/allvideo" class="headMore">更多</a>
		</div>
		<div class="modMain clearfix">
			<div class="modRow">
				<ul class="comicList">
					{$videoH5}
				</ul>
			</div>
		</div>
	</section>

	<!--底部-->
	{include file="public/mobile/footer"}
</body>


<script type="text/javascript">
	(function (designW) {
		var docEl = document.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
				var clientWidth = docEl.clientWidth;
				if (!clientWidth) return;
				docEl.style.fontSize = 100 * (clientWidth / designW) + 'px';
			};
		if (!document.addEventListener) return;
	        recalc();
		window.addEventListener(resizeEvt, recalc, false);
		document.addEventListener('DOMContentLoaded', recalc, false);
	})(750);

	$("img[data-original]").lazyload({effect: "fadeIn"});
</script>	
</html>