<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/Mobile/main.css" rel="stylesheet" type="text/css" media="all" />
<!-- JS-LINK -->
{include file="public/js-link"}
</head>

<body>
	<!--导航栏--> 
	<header>
		<div class="head">
			
		</div>
	</header>
	<!--轮播--> 
	<section>
		<div class="lb">
			{include file="public/mobile/lunbo"}
		</div>
	</section>
	<!--漫画--> 
</body>


<script type="text/javascript">
	
</script>	
</html>