<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/Mobile/public.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/Mobile/comicChatper.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/Mobile/icon.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.css" rel="stylesheet" type="text/css" media="all" />

<script src="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.js"></script>
<script src="https://cdn.staticfile.org/hls.js/8.0.0-beta.3/hls.js"></script>
<!-- JS-LINK -->
{include file="public/js-link"}
</head>

<body>
	<!--导航栏--> 
	{include file="public/mobile/header"}
	<!--视频-->
	<div id="dplayer"></div> 

	<section class="mod clearfix">
		<div class="videoName">
			<h1 class="videoNameh1">{$title} {$name}</h1>
		</div>
		<div class="pdiv">
			<p class="intro eslips">
				{$p}
			</p>
			<div class="morea2" id="more">
				<i class="iconfont icon-unfold"></i>
			</div>
		</div>
	</section>
	
	<!--章节-->
	<section class="mgt-3rem">
		<div class="padd">
			<div class="listMain">
				<ul class="clearfix listUl">
					{$videoChapterH5}
				</ul>
			</div>
		</div>
	</section>

	<!--底部-->
	{include file="public/mobile/footer"}
</body>


<script type="text/javascript">
	(function (designW) {
		var docEl = document.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
				var clientWidth = docEl.clientWidth;
				if (!clientWidth) return;
				docEl.style.fontSize = 100 * (clientWidth / designW) + 'px';
			};
		if (!document.addEventListener) return;
	        recalc();
		window.addEventListener(resizeEvt, recalc, false);
		document.addEventListener('DOMContentLoaded', recalc, false);
	})(750);

	$("#more").click(function(){
		if($('.intro').hasClass("eslips")) {
			$('.intro').removeClass('eslips');
			$('#more>i').removeClass('icon-unfold').addClass('icon-fold');
		}else {
			$('.intro').addClass('eslips');
			$('#more>i').addClass('icon-unfold').removeClass('icon-fold');
		}
	});

	const dp = new DPlayer({
	    container: document.getElementById('dplayer'),
	    video: {
	        url: '{$src}',
	        type: 'hls'
	    }
	});
</script>	
</html>