.detail{
	width: 100%;
	position: relative;
}

.detailWrap{
	background: #FFF;
	padding: .3rem .2rem;
	position: relative;
	height: 4rem;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.3);
}

.detailCover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.detailImg{
	width: 2.4rem;
	height: 3.4rem;
	float: left;
	z-index: 9;
	overflow: hidden;
	background-color: #EEE;
	position: relative;
}

.detailCover>img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: blur(40px);
}

.detailImg>img{
	width: 100%;
	height: 100%;
	display: block;
}

.deatilMedia{
	margin-left: 2.6rem;
	height: 3.4rem;
	position: relative;
	z-index: 9;
}

.mediaTitle{
	line-height: .48rem;
	font-size: .35rem;
	color: #FFF;
}