.detail{
	width: 100%;
	position: relative;
}

.detailWrap{
	background: #FFF;
	padding: .3rem .2rem;
	position: relative;
	height: 4rem;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.3);
}

.detailCover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.detailImg{
	width: 2.4rem;
	height: 3.4rem;
	float: left;
	z-index: 9;
	overflow: hidden;
	background-color: #EEE;
	position: relative;
}

.detailCover>img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: blur(40px);
}

.detailImg>img{
	width: 100%;
	height: 100%;
	display: block;
}

.deatilMedia{
	margin-left: 2.6rem;
	height: 3.4rem;
	position: relative;
	z-index: 9;
}

.mediaTitle{
	line-height: .48rem;
	font-size: .5rem;
	color: #FFF;
}

.desc{
	margin-top: .2rem;
}

.desc>li{
	font-size: .26rem;
	line-height: .44rem;
	color: #fff;
}

.listMain{
	position: relative;
	background: #fff;
}

.listUl{
	overflow: hidden;
	padding-left: .2rem;
}

.listUl>li{
	overflow: hidden;
	float: left;
	margin-right: .2rem;
	margin-bottom: .2rem;
	position: relative;
}

.listUl>li>a {
	line-height: .8rem;
	background-color: #d0c9c9;
	font-weight: 700;
	border-radius: .08rem;
	padding-left: .2rem;
	display: block;
	text-align: center;
	padding-right:.2rem;
}

.padd {
	padding-top: .5rem;
	padding-bottom: .5rem;
	background: #fff;
}

.intro {
	line-height: .36rem;
	color: #999;
	font-size: .24rem
}

.eslips {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: normal;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}

.pdiv {
	background: #fff;
	padding: .2rem;
	padding-bottom: 0;
}

.morea2 {
	height: .52rem;
	line-height: .52rem;
	text-align: center;
	font-size: 0;
}

.morea2>i {
	display: inline-block;
	font-size: .32rem;
	color: #999;
}

.videoNameh1{
	color: #111;
	text-align: justify;
	display: block;
	font-size: .36rem;
	line-height: .48rem;
	font-weight: 700;
	margin-top: .2rem;
	margin-left: .2rem;
}

.videoName{
	background:#fff;

}