header {
	position: relative;
	width: 100%;
	height: .88rem;
	z-index: 99;
}

header .head{
	width: 100%;
	height: .88rem;
	background: #181818;
	color: #fff;
	position: relative;
}

.lb{
	width: 100%;
	height: 7.5rem;
}