
<link href="/static/css/same.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/jquery.bscslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">	
<link href="/static/css/load_comic.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/load_chapter.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/load_page.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/VideoCover.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/header.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/inputbox.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css" media="all" />


