
<div id="header">
	<div id="page_top">
		<div id="bg-wrap">
			<div class="mask"></div>
		</div>

		<div class="header_content">
			<div class="head_width">
				<div class="header_nav">
					<ul>
						<li class="menu_home">
							<a id = 'href1' data-pjax href="">首页</a>
						</li>
					</ul>
				</div>
				<div class="loginBox">
				<?php if($islogin == 0): ?>
					<a class="logBtn" href="/user/login">登录</a>
					<span></span>
					<a class="regBtn" href="/user/register">注册</a>
				<?php endif: ?>
					<a class="regBtn" href="/user/register">{$username}</a>
				<?php endif: ?>	
				</div>
			</div>
		</div>
	</div>
</div>

<div class="go_top"></div>


<script type="text/javascript" src="https://npmcdn.com/headroom.js@0.9.3/dist/headroom.min.js"></script>
<script>


    (function() {
    	var urlArr = window.location.href.split('/');
     	$("#href1").attr("href",'https://'+urlArr[2]);
	    new Headroom(document.querySelector("#page_top"), { //这里的nav-scroll改为你的导航栏的id或class
	        offset : 200, //  开始动作的位置
	            tolerance: 5, // scroll tolerance in px before state changes        
	        classes: {
	            initial: "animated",  // 当元素初始化后所设置的class
	            pinned: "slideUp", // 向上滚动时设置的class
	            unpinned: "slideDown" // 向下滚动时所设置的class
	        }
	    }).init();

	    new Headroom(document.querySelector(".go_top"), { //这里的nav-scroll改为你的导航栏的id或class
	        offset : 300, //  开始动作的位置
	            tolerance: 5, // scroll tolerance in px before state changes        
	        classes: {
	            initial: "gotop",  // 当元素初始化后所设置的class
	            pinned: "gotopUp", // 向上滚动时设置的class
	            unpinned: "gotopDown" // 向下滚动时所设置的class
	        }
	    }).init();

	    $(".go_top").on("click", function() {
			$('body,html').animate({
				scrollTop: 0
			}, 1000);
			return false;
	    });
    }());

    var topheight = $(window).height() - 980 + 'px';
 	console.log($(window).height());
    $(window).scroll(function(){
	// 滚动条距离顶部的距离 大于 200px时
		if($(window).scrollTop() >= 300){
			$(".gotop.gotopDown").css('top',topheight);
			$(".gotop.gotopUp").css('top',topheight);
		} else{
			$(".gotop.gotopDown").css('top',topheight);
			$(".gotop.gotopUp").css('top','-900px');
		}
	});


	
</script>

<style type="text/css">
.animated {position: fixed;top: 0;left: 0;right: 0;transition: all 1s ease-in-out;}
.animated.slideDown {top: -100px;}
.animated.slideUp {top: 0;}

.gotop {position: fixed;top: -900px;right: 50px;transition: all 1s ease-in-out;}

</style>



