<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/forgetpwd.css" rel="stylesheet" type="text/css" media="all" />
<!-- JS-LINK -->
{include file="public/js-link"}
<script src="/static/layui/layui_exts/sliderVerify/sliderVerify.js"></script>
</head>
<body class="user_body"> 
<div class="container">
	<div class="row">
		<div class="user_form modal-dialog clearfix">
			<div class="user_title">
				<h2 class="text_h2">账号登录</h2>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-12 mt20">
					<form class="form-horizontal" onsubmit="return false;">
						<div class="form-group mt20">
							<span class="col-md-3 control-label hidden-xs">用户:</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="text"  class="form-control" placeholder="注册使用的邮箱"  id="forgetEmail">
							</div>
						</div>

						<div class="form-group">
							<span class="col-md-3 control-label hidden-xs">密码:</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="password"  class="form-control" placeholder="密码"  id="forgetEmail">
							</div>
						</div>

						<div class="form-group">
							<span class="col-md-3 control-label hidden-xs">验证码:</span>
							<div class="layui-input-block col-md-8 col-sm-12 col-xs-12">
								<div id="slider"></div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-3 hidden-xs"></div>
							<div class="col-md-8 col-xs-12">
								<button type="submit" class="btn btn-success btn-block" id="submit">登录</button>
							</div>
						</div>
					</form>
				</div>	
			</div>
			<h5 class="col-md-12 text-center col-md-offset-1 mt20 mb20">
				<a class="text_h5" href="/" target="_self">返回首页</a>
				<a class="text_h5" href="/user/register" target="_self">账号注册</a>
				<a class="text_h5" href="/forgetpwd" target="_self">密码找回</a>
			</h5>
		</div>	
	</div>
</div>
</body>
<script type="text/javascript" charset="utf-8">
	layui.config({
			base: '/static/layui/layui_exts/'
		}).extend({
			sliderVerify:'sliderVerify/sliderVerify'
		}).use(['sliderVerify', 'jquery', 'form'], function() {
			var sliderVerify = layui.sliderVerify,
				form = layui.form;
			var slider = sliderVerify.render({
				elem: '#slider',
				bg : 'layui-bg-red',//自定义背景样式名
				onOk: function(){
					//当验证通过回调
					layer.msg("滑块验证通过");
				}
			})
			//监听提交
			form.on('submit(formDemo)', function(data) {
				if(slider.isOk()){
					layer.msg(JSON.stringify(data.field));
				}else{
					layer.msg("请先通过滑块验证");
				}
				return false;
			});
		})
</script>	
</html>