<!DOCTYPE html>
<html lang="zh-CN">
<head>
{include file="public/meta"}	
<title>米谷 米谷</title>
<!-- CSS-LINK -->
{include file="public/css-link"}
<link href="/static/css/forgetpwd.css" rel="stylesheet" type="text/css" media="all" />
<!-- JS-LINK -->
{include file="public/js-link"}
</head>
<body class="user_body"> 
<div class="container">
	<div class="row">
		<div class="user_form modal-dialog clearfix">
			<div class="user_title">
				<h2 class="text_h2">注册账号</h2>
			</div>
			<div class="col-md-11 col-md-offset-1">
				<div class="col-md-12 mt20">
					<form class="form-horizontal" onsubmit="return false;">
						<div class="form-group mt20">
							<span class="col-md-3 control-label hidden-xs">账号</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="text"  class="form-control" placeholder="账号"  id="Account">
							</div>
						</div>

						<div class="form-group">
							<span class="col-md-3 control-label hidden-xs">密码</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="password"  class="form-control" placeholder="密码"  id="password">
							</div>
						</div>

						<div class="form-group">
							<span class="col-md-3 control-label hidden-xs">再次输入密码</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="password"  class="form-control" placeholder="再次输入密码"  id="passwordAgain">
							</div>
						</div>

						<div class="form-group ">
							<span class="col-md-3 control-label hidden-xs">您的Email:</span>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<input type="text"  class="form-control" placeholder="邮箱"  id="Email">
							</div>
						</div>

						<div class="form-group">
							<span class="col-md-3 control-label hidden-xs">验证码:</span>
							<div class="col-md-4 col-sm-4 col-xs-6">
								<input type="text" id="forgetCaptcha" class="form-control txt" placeholder="验证码" >
							</div>

							<div class="col-md-3 col-sm-4 col-xs-2">
								<img src="/creatPicture"  onclick="this.src='/creatPicture?'+new Date().getTime();" >
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-3 hidden-xs"></div>
							<div class="col-md-8 col-xs-12">
								<button type="submit" class="btn btn-success btn-block" id="submit">注册</button>
							</div>
						</div>
					</form>
				</div>	
			</div>

			<h5 class="col-md-12 text-center col-md-offset-1 mt20 mb20">
				<a class="text_h5" href="/" target="_self">返回首页</a>
				<a class="text_h5" href="/forgetpwd" target="_self">找回密码</a>
				<a class="text_h5" href="" target="_self">账号注册</a>
			</h5>
		</div>	
	</div>
</div>
</body>
<script type="text/javascript">
	layui.use('layer', function(){
		var layer = layui.layer;
		$('#submit').click(function(){
			var emailReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
			var regularFormula  = /^[a-zA-Z0-9_]{6,10}$/; 
			if(!$('#Account').val().match(regularFormula)){
				layer.msg('帐号不能为空，且长度为6至10位的数字和英文字母');
				$('#Account').focus();
				return false;	
			}else if(!$('#password').val().match(regularFormula)){
				layer.msg('密码不能为空，且长度为6至10位的数字和英文字母');
				$('#password').focus();
				return false;
			}else if($('#password').val() != $('#passwordAgain').val()){
				layer.msg('两次密码不一样');
				$('#passwordAgain').focus();
				return false;
			}else if(!emailReg.test($('#Email').val())){
				layer.msg('email格式不正确');
				$('#Email').focus();
				return false;
			}

			
			$.ajax({
				url:'/register',
				async:true,
				cache:false,
				type:"POST",
				dataType:'json',
				data:{
					acc:$('#Account').val(),
					pass:$('#password').val(),
					email:$('#Email').val(),
					Verification:$('#forgetCaptcha').val()
				},
				success:function(data){
					layer.msg(data.msg);
				}
			});
		});
	});	
</script>	
</html>